@use '../../../styles/global/media';

.Wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 2;
	background-color: #f5f5f5;
	padding-top: 150px;
	padding-bottom: 50px;
	gap: 10px;
	h2 {
		font-size: calc(12px + 1.3vw);
		color: rgb(56, 56, 56);
	}
	p {
		max-width: 50%;
		text-align: center;
	}
	.Properties {
		margin: 20px 2%;
		width: 96%;
		overflow-x: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		h3 {
			min-height: 50px;
		}
	}
	@include media.xl {
		h3 {
			font-size: 14px !important;
		}
	}
	@include media.md {
		padding-top: 50px;
		h2 {
			font-size: 20px;
		}
		p {
			max-width: 70%;
			font-size: 14px;
		}
	}
	@include media.sm {
		h2,
		p {
			max-width: 90%;
			text-align: center;
		}
	}
}
