@use '../../../styles/global/media';
@use '../../../styles/global/mixins';
.Wrapper {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: #f5f5f5;
	padding-bottom: 100px;
	.PropertyHeader {
		height: max-content;
		width: inherit;
		padding: 20px 8%;
		background-color: rgb(12, 12, 12);
		display: flex;
		flex-direction: column;
		gap: 20px;
		.Delete {
			align-self: end;
			width: max-content;
			padding: 8px 20px;
			display: flex;
			align-items: center;
			border-radius: 4px;
			border: none;
			outline: none;
			font-weight: 600;
			cursor: pointer;
			box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
			gap: 5px;
			background-color: crimson;
			color: rgb(250, 242, 226);
			svg {
				font-size: 16px;
			}
			transition: background 0.2s linear;
			&:hover {
				background-color: rgb(179, 32, 61);
			}
		}
		@include media.xxl {
			.Delete {
				font-size: 16px;
				svg {
					font-size: 18px;
				}
			}
		}
		.PropertyDetails {
			display: flex;
			justify-content: space-between;
			.Title_Address {
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				max-width: 70%;
				.Title {
					color: white;
				}
				.Address {
					color: #979797;
				}
			}
			.Price_Area {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				flex-direction: column;
				color: #979797;
				.Price {
					color: white;
				}
				.Area {
					color: #979797;
				}
			}
			@include media.xxl {
				.Title_Address {
					font-size: 20px;
				}
				.Price,
				.Area {
					font-size: 24px;
				}
			}
		}
	}
	.Main {
		margin-top: 50px;
		width: 100%;
		padding: 0 8%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.Info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 40px;
			width: 100%;
			.MainImage {
				border-radius: 2px;
				border-top-right-radius: 35px;
				width: 90%;
				height: 500px;
				cursor: zoom-out;
				object-fit: cover;
				padding: 15px;
				border-radius: 10px;
				object-position: center;
				box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
				&:hover {
					object-fit: contain;
				}
			}
			.AdditionalImages {
				width: 90%;
				margin-top: -20px;
				ul {
					display: flex;
					gap: 10px;
					width: 100%;
					overflow-x: hidden;
					.Swiper {
						overflow-x: hidden;
						width: 100%;
						display: grid;
						grid-template-columns: repeat(auto-fill, minmax(80px, 100px));
					}
					li {
						img {
							width: 7.5vw;
							height: 6vw;
							object-fit: cover;
							border-top-right-radius: 10px;
							cursor: pointer;
							transition: filter 0.2s ease-out;
							&:hover {
								filter: brightness(80%);
							}
							@include media.xl {
								height: 8vw;
								width: 8vw;
							}
							@include media.lg {
								height: 9vw;
								width: 9vw;
							}
							@include media.sm {
								border-radius: 3px;
							}
						}
					}
				}
			}
			@include media.xxl {
				.MainImage {
					height: 30vw;
				}
			}
			.Details,
			.Description,
			.Features {
				background-color: white;
				width: 90%;
				display: flex;
				flex-direction: column;
				border-radius: 15px;
				box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
				@media (max-width: 620px) {
					border-radius: 10px;
					width: 96% !important;
				}
				h3 {
					border-bottom: 1px solid #d8d8d8;
					padding: 30px 0 30px 30px;
				}
			}
			.Details {
				ul {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
					align-items: center;
					width: 100%;
					@media (max-width: 620px) {
						grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
					}
					li {
						@include mixins.center-flex;
						padding: 20px 10px;
						gap: 5px;
						font-weight: bold;
						&:not(:last-child) {
							border-right: 1px solid #d8d8d8;
						}
					}
				}
				@include media.xxl {
					font-size: 18px;
					ul {
						li {
							font-size: 18px;
						}
					}
				}
			}
			.Description {
				h3 {
					width: 100%;
					margin: none;
				}
				p {
					padding: 30px;
					color: rgb(112, 112, 112);
				}
				@include media.xxl {
					h3 {
						font-size: 22px;
					}
					p {
						font-size: 18px;
					}
				}
			}
			.Features {
				ul {
					padding: 30px;
					display: grid;
					gap: 15px 0;
					grid-template-columns: repeat(2, 1fr);
					li {
						display: flex;
						align-items: center;
						gap: 5px;
					}
				}
				@include media.xxl {
					font-size: 18px;
					ul {
						li {
							font-size: 18px;
						}
					}
				}
			}
		}
		.ContactToPublisher {
			display: flex;
			flex-direction: column;
			background-color: white;
			padding: 20px;
			border-radius: 15px;
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
			gap: 10px;
			width: 34%;
			& > span {
				display: flex !important;
				justify-content: center;
				padding: 5px 0;
			}
			.Publisher {
				display: flex;
				flex-direction: column;
				background-color: #f5f5f5;
				border-radius: 5px;
				padding: 15px 20px;
				h3,
				h4 {
					font-size: 16px;
					display: flex;
					align-items: center;
					gap: 5px;
					font-weight: 600;
				}
			}
			form {
				display: flex;
				flex-direction: column;
				gap: 10px;
				input,
				textarea {
					font-size: 18px;
					padding: 10px;
					border-radius: 5px;
					border: 1px solid #ebebeb;
					outline: unset;
				}
				textarea {
					min-height: 100px;
				}
				.SenderMessage {
					resize: none;
					height: 80px;
				}
				button {
					padding: 15px;
					border: none;
					cursor: pointer;
					background-color: rgb(43, 43, 43);
					color: white;
					font-weight: 500;
					border-radius: 2px;
					border-top-right-radius: 15px;
					transition: background 0.2s ease-out;
					&:hover {
						background-color: #ffbb00;
					}
				}
			}
			@include media.xxl {
				width: 38%;
				.Publisher {
					h3,
					h4 {
						font-size: 20px;
					}
				}
				form {
					input,
					textarea {
						font-size: 20px;
					}
				}
				button {
					font-size: 18px;
				}
			}
		}
	}
	.Main {
		@include media.lg {
			flex-direction: column;
			.Info {
				.MainImage {
					width: 100%;
					border: none;
					border-radius: 5px;
				}
				align-items: center;
				.Details,
				.Description,
				.Features {
					width: 100%;
				}
			}
			.ContactToPublisher {
				width: 60%;
				margin-top: 40px;
				align-self: center;
			}
		}

		@include media.sm {
			.ContactToPublisher {
				width: 90%;
				margin-top: 20px;
				input,
				textarea {
					font-size: 14px;
				}
			}
			.Details,
			.Description,
			.Features {
				h3 {
					font-size: 18px;
				}
			}
			.Details {
				ul {
					li {
						font-size: 14px;
					}
				}
			}
			.Features {
				ul {
					li {
						font-size: 14px;
					}
				}
			}
			.Description {
				p {
					font-size: 14px;
				}
			}
			.AdditionalImages {
				padding-top: 0;
			}
			.MainImage {
				border-radius: 0 !important;
			}
			padding: 0;
			margin: 0;
			gap: 20px;
		}
	}
	@include media.md {
		.PropertyHeader {
			.PropertyDetails {
				text-align: center;
				flex-direction: column;
				gap: 20px;
				.Price_Area {
					flex-direction: unset;
				}
				.Title_Address {
					max-width: unset;
					gap: 10px;
					.Address {
						font-size: 14px;
					}
				}
				.Title {
					font-size: 22px;
				}
				.Price {
					font-size: 22px;
				}
			}
		}
	}
}
